@model Olbrasoft.Travel.Data.Transfer.Object.AccommodationDetail


@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>


@Model.Id


<h1>@Model.Name</h1>

@Model.Address
<br />
@Html.Raw(Model.Description)
